/*
 * The css for all of the Lighthouse Photo Contest pages.
 */

body {
  background-image: url(background.png);
  font-family: Sanchez;
  margin: 0;
  color: #fff;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  color: #FA6121;
}

.picture {
  list-style-type: none;
  padding: 12px 12px 24px 12px;
  background-color: #eee;
  margin: 10px auto;
  display: inline-block;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
  position: relative;
  
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s;
  transition: all .2s;
}

.picture img {
  height: 200px;
}

.picture p {
  margin-bottom: -4px;
  color: #333;
}

.tilted {
  -webkit-transform: rotate(-2deg) translate3d( 0, 0, 0);
  -moz-transform: rotate(-2deg) translate3d( 0, 0, 0);
  transform: rotate(-2deg) translate3d( 0, 0, 0);
}

.popup,
.message {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: #eee;
  color: #333;
  padding: 25px;
  -webkit-box-shadow: 0px 0px 100px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 100px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 100px rgba(0, 0, 0, 1);
}

.message {
  margin: 200px auto;
  width: 450px;
}

.popup {
  position: fixed;
  max-width: 300px;
  z-index: 2000;
}

.popup h2,
.message h2 {
  font-size: 300%;
}

.popup p,
.message p {
  font-size: 80%;
}

.popup *,
.message * {
  margin: 0;
}

.popup img {
  height: 20px;
  margin: 0 5px -3px 0;
}

#itemPopup,
#tutorialPopup {
  bottom: 40px;
  left: 40px;
}

#picturePopup {
  top: 320px;
  left: 20px;
}

#loginPopup,
#explorePopup {
  top: 60px;
  right: 10px;
}

#loginPopup img,
#explorePopup img {
  float: right;
  margin: 0 0 -3px -2px;
}

#arrowKeyPopup,
#hoverPopup,
#votePopup {
  bottom: 10px;
  left: 10px;
}

#standings {
  width: 550px;
}

#selectedPicture {
  position: absolute;
  top: 5%;
  left: 50%;
  margin-left: -400px;
  width: 800px;
  z-index: 1000;
  -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 25px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 1);
  background-color: #000;
}

#selectedPictureImg {
  width: 100%;
  vertical-align: bottom;
}


#selectedPicture * {
  -webkit-transition: opacity .2s ease-in-out;
}

#footer {
  width: 760px;
  background: rgba(0, 0, 0, .6);
  padding: 20px;
  z-index: 1000;
  position: absolute;
  bottom: 0;
}

.glass {
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, .4);
  z-index: 999;
}

#cancel {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 15px;
}

#voteButton {
  float: right;
}

button,
input[type=submit] {
  display: block;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
  
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #eee), color-stop(1, #ddd) );
  background:-moz-linear-gradient( center top, #eee 5%, #ddd 100% );
  background:linear-gradient( center top, #eee 5%, #ddd 100% );
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border-radius:4px;
  border:1px solid #dcdcdc;
  color:#333;
  font-weight:bold;
  padding:4px 12px;
  text-decoration:none;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  font-family: Sanchez;
  font-size: 14px;
  line-height: 20px;
  vertical-align: middle;
  text-align: center;
}

button:hover,
input[type=submit]:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ddd), color-stop(1, #eee) );
  background:-moz-linear-gradient( center top, #ddd 5%, #eee 100% );
  background:linear-gradient( center top, #ddd 5%, #eee 100% );
}

button:active,
input[type=submit]:active {
  outline:0;
  -webkit-box-shadow:inset 0 2px 4px rgba(0, 0, 0, 0.15),0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow:inset 0 2px 4px rgba(0, 0, 0, 0.15),0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow:inset 0 2px 4px rgba(0, 0, 0, 0.15),0 1px 2px rgba(0, 0, 0, 0.05);
}

#voteButton:hover,
#cancel:hover,
#userOptions li:hover,
#pictures li:hover,
#previousWinners li:hover,
#login:hover {
  cursor: pointer;
}

.hidden {
  display: none;
}

#header {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,.6)), color-stop(100%,rgba(0,0,0,0)));
  width: 100%;
  
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  
  display: -webkit-box;
  display: -moz-box;
  display: box;
}

#header > * {
  margin: 0;
  padding: 10px;
}

.spacer {
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  box-flex: 1;
}

#login,
#user {
  height: 20px;
  margin: 10px;
}

#login:hover {
  background-color: #2A75A9;
  
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

/* Must be a class for JS control */
.userHover {
  -webkit-top-left-border-radius: 10px;
  -moz-top-left-border-radius: 10px;
  border-top-left-radius: 10px;
  
  -webkit-top-right-border-radius: 10px;
  -moz-top-right-border-radius: 10px;
  border-top-right-radius: 10px;
  
  background-color: #FA6121;
}

#userOptions {
  border-top: 4px solid #FA6121;
  position: absolute;
  right: 10px;
  top: 50px;
  width: 230px;
  background-color: #eee;
  z-index: 4000;
  
  -webkit-box-shadow: 0px 12px 25px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 12px 25px rgba(0, 0, 0, 1);
  box-shadow: 0px 12px 25px rgba(0, 0, 0, 1);
}

#userOptions li {
  color: #333;
  list-style-type: none;
  margin-top: 8px;
}

#userOptions li:hover {
  color: #FA6121;
}

#userOptions ul {
  padding: 0;
  text-align: center;
}

#uploadForm form {
    overflow: hidden;  
}

#uploadForm label {
  display:block;
  font-weight:bold;
  text-align:right;
  width:160px;
  float:left;
  margin-top: 10px;
}

#uploadForm input,
#uploadForm .name {
  float:left;
  font-size:12px;
  padding:4px 2px;
  width:200px;
  margin:10px 0 0 10px;
}

#uploadForm input[type=submit] {
  clear: both;
  margin-left: 125px;
  margin-top: 20px;

  color: #eee;
  padding:6px 24px;
  font-size: 16px;
  
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #FF743F), color-stop(1, #FA6121) );
  background:-moz-linear-gradient( center top, #FF743F 5%, #FA6121 100% );
  background:linear-gradient( center top, #FF743F 5%, #FA6121 100% );
}

#uploadForm input[type=submit]:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #FA6121), color-stop(1, #FF743F) );
  background:-moz-linear-gradient( center top, #FA6121 5%, #FF743F 100% );
  background:linear-gradient( center top, #FA6121 5%, #FF743F 100% );
}