<!-- http://stackoverflow.com/questions/8198312/servlet-mapping-using-web-xml -->
<web-app>
    <servlet>
         <servlet-name>VoteServlet</servlet-name>
         <servlet-path>com.uwlighthouse.photocontestbackend.VoteServlet</servlet-path>
    </servlet>
    <servlet-mapping>
         <servlet-name>VoteServlet</servlet-name>
         <url-pattern>/voting</url-pattern>
    </servlet-mapping>
</web-app>